/* this media query is for normal browser and Ipad portrait*/

@media screen {
    #myself {
        background-image: url("images/family.jpg");
        /* these images are for normal browser and Ipad lansscape */
        background-image: -webkit-image-set( url('images/family.jpg') 1x, url('images/family-996.jpg') 2x);
    }
    .col-md-4 a {
        word-wrap: break-word;
    }
    .mywork {
        padding-top: 0px;
        font-size: 40px;
        color: #7d97ad;
    }
}


/* this media query is for Ipad portrait*/

@media screen and (max-width:990px) {
    img {
        display: block;
        margin: 0 auto;
    }
    #myself {
        width: 100%;
        position: relative;
        background-image: url("images/family_med.jpg");
        /* these images are for Ipad portrait and nexus landscape */
        background-image: -webkit-image-set( url('images/family_med.jpg') 1x, url('images/family-610.jpg') 2x);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    #description {
        bottom: 0;
        height: 65%;
        width: 100%;
        color: #fff;
        font-size: 20px;
    }
    .header-logo {
        float: left;
    }
    .mywork {
        text-align: center;
        padding-top: 0px;
        font-size: 40px;
        color: #7d97ad;
    }
    .img-responsive {
        margin-top: 10px;
    }
    .worktext {
        font-size: 40px;
    }
}


/* this media query is for nexus 5 landscape */

@media screen and (max-width:640px) {
    img {
        display: block;
        margin: 0 auto;
    }
    .myname {
        margin-top: 10px;
        margin-left: 0;
        font-size: 2.5em;
        vertical-align: bottom;
    }
    .header-logo {
        height: 70px;
        margin-top: 13px;
        float: left;
    }
    .header-title {
        margin-left: 0;
        font-size: 1em;
        vertical-align: bottom;
    }
    .img-responsive {
        margin-top: 10px;
    }
    .mywork {
        text-align: center;
        padding-top: 0px;
        font-size: 40px;
        color: #7d97ad;
    }
}


/* this media query is for nexus 5 portrait */

@media screen and (max-width: 420px) {
    #myself {
        width: 100%;
        position: relative;
        /* this image is for nexus 5 portrait */
        background-image: url("images/family_small.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        height: 230px;
    }
    img {
        display: block;
        margin: 0 auto;
    }
    #description {
        bottom: 0;
        height: 80%;
        width: 100%;
        color: #fff;
        font-size: 13px;
    }
    .headerrow {
        display: flex;
        flex-wrap: wrap;
        text-align: right;
        padding: 0px 40px 0 40px;
    }
    .myname {
        margin-top: 10px;
        margin-left: 0;
        font-size: 2em;
        vertical-align: bottom;
    }
    .header-title {
        margin-left: 0;
        font-size: 0.7em;
        vertical-align: bottom;
    }
    .header-logo {
        height: 50px; 
    }
    .border {
        border-bottom: solid 1px #7d97ad;
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .nav-menu {
        margin-bottom: 15px;
    }
    .nav-item {
        box-sizing: border-box;
        display: inline-block;
        width: 24.38%;
        text-align: center;
        line-height: 24px;
        padding: 24px;
        padding-left: 10px;
    }
    ul li {
        border-right: 0.3px solid #7d97ad;
        border-bottom: 0.3px solid #7d97ad;
    }
    ul li:last-child {
        border-right: none;
    }
    .nav-item a {
        padding: 0;
        text-align: center;
        font-size: 14px;
    }
    #about-me {
        font-size: 1.2em;
    }
    .mywork {
        text-align: center;
        padding-top: 0px;
        font-size: 25px;
        color: #7d97ad;
    }
    .worktext {
        font-size: 25px;
    }
    .img-responsive {
        margin-top: 10px;
    }
}